{% extends 'loginbase.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/login/images/bg-02.png');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<form class="login100-form validate-form p-b-33 p-t-5" method="post" action="{{ path('app_login') }}">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<div class="wrap-input100 validate-input" data-validate="Enter email">
						<input class="input100" type="text" name="email" placeholder="Email" value="{{ last_username }}">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Giriş yap!
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	{% endblock %}
